.btn {
    height: 36px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 104px;
}

.btn--primary {
    background-color: var(--color-primary);
    text-align: center;
    line-height: 36px;
    border: none;
    padding: 0 16px;
    color: #ffffff;
}

.btn--primary:hover {
    background-color: var(--color-hover);
}

.btn--primary:active {
    background-color: var(--color-focus);
}

.btn--primary:disabled {
    background-color: var(--color-disable);
    cursor: not-allowed;
}

.btn--secondary {
    background-color: #ffffff;
    text-align: center;
    border: 1px solid var(--color-border-default); 
    padding: 0 16px;
}

.btn--secondary:hover {
    color: var(--color-hover);
    border-color: var(--color-hover);
}

.btn--secondary:active {
    border-color: var(--color-focus);
    color: var(--color-focus);
}

.btn--secondary:disabled {
    color: #c8c8c8;
    border-color: #c8c8c8;
    cursor: not-allowed;
}